# Entorno y Secrets
.env
.env.local
.env.*.local

# Dependencias
node_modules/

# Compilados y Builds
dist/
dist-ssr/
build/
coverage/

# IDE / Editores
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Herramientas de agentes
.antigravity/
